// breakpoints
$container1400: 1440px;
$container1140: 1140px;
$container940: 940px;
$container748: 748px;

$container1400Padding: 20px;
$container748Padding: 15px;
$containerBorderColor: rgba(255, 255, 255, 0.5);

// colors
$green: #01FF11;
$primaryText: #fff;
$background: #000;


//320px-480px: Mobile devices
//481px-768px: iPads, Tablets
//769px-1024px: Small screens, laptops
//1025px-1200px: Desktops, large screens
//1201px and more Extra large screens, TV