@import "../../assets/scss/vars";

// header ---------------------------------------------------
.header {
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0;
  padding: 20px 0;
  background: rgba(13, 21, 26, .25);
  font-size: 14px;
  text-transform: uppercase;
}
.wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: 90px 1fr 90px;
  height: 100%;
}
// navigation ---------------------------------------------------
.nav {
  &-wrapper {
    color: $green;
    user-select: none;
  }
}

//logo ---------------------------------------------------
.logoWrapper {
  display: flex;
  justify-content: center;
}

.logo {
  position: relative;
  z-index: 1;
  font-size: 35px;
  color: #fff;
}



// media ---------------------------------------------------
@media screen and (max-width: 767.99px) {
  .header {
    padding: 10px 0;
  }

  .logo {
    font-size: 30px;
  }

  .wrapper {
    gap: 18px;
  }
}
@media screen and (max-height: 700px) {
  .header {
    padding: 10px 0;
    font-size: 12px;
  }

  .logo {
    font-size: 30px;
  }

  .wrapper {
    gap: 18px;
  }
}
@media screen and (max-width: 575.99px) {
  .wrapper {
    grid-template-columns: 1fr auto;
  }
  .logoWrapper {
    justify-content: flex-start;
  }
  .nav {
    display: none;
  }

  .community {
    gap: 20px;
  }
}